body{
  background-color: rgb(215, 224, 216);
}
header{
  background-image: url("../static/img/band.png");
  background-size: cover;
  background-repeat: no-repeat;
}
/* title header */
h1, h2 {
  color: black;
  font-weight: bold;
  text-shadow: 2px 2px rgb(183, 235, 106);
}
#chat_box{
    overflow: auto;
}
/* conversation */
p {
  text-align: left;
  background: rgb(170, 221, 113);
  border-radius: 20px 20px 20px 2px;
  max-width: 600px;
  color: green;
  font-weight: bold;
  margin: 10px 6px;
  padding: 10px;
  position: relative;

}
p img{
  float: left;
  max-width: 50px;
  position: relative;
  top: -7px;
}
/* Delphine Miel */
#createby{
  margin-left: 3%;
  font-weight: bold;
  font-size: 20px;
}
/* 'Retrouve moi....' */
#follow_the_link1{
  margin-left: 3%;
  font-weight: bold;
  color: black;
  font-size: 15px;
}

footer{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(112, 90, 57);
  color: white;
  text-align: center;
}
input {
  border-radius: 4px;
  vertical-align: middle;
  height: 105%;
}

#map {
  height: 100%;
}