body {
  background-color: rgb(215, 224, 216);
  min-height: 100vh;
  position: relative;
}

/*-------- HEADER --------- */
header {
  background-image: url("../static/img/band.png");
  background-size: cover;
  background-repeat: no-repeat;
  max-height: 20vh;
}

/* title header */
h1, h2 {
  color: black;
  font-weight: bold;
  text-shadow: 0.125em 0.125em rgb(183, 235, 106);
}


 /* ------- SECTION BODY --------- */
section {
  overflow: auto;
  max-height: fit-content;
  max-height: 62vh;
  padding-top: 4em;
  padding-bottom: 4em;
}

#bot {
  width: 92%;
  max-height: 25em;
  overflow: auto;
  display: flex;
  flex-direction: column;
}

/* conversation */
#user_quest {
  background: green;
  color: rgb(170, 221, 113);
}

p {
  text-align: left;
  background: rgb(170, 221, 113);
  border-radius: 1.250em 1.250em 1.250em 0.125em;
  max-width: 37.5em;
  color: green;
  font-weight: bold;
  margin: 0.625em 0.375em;
  padding: 0.625em;
  width: fit-content;
  position: relative;
  padding-left: 15px;
}

p img {
  float: left;
  max-width: 3.125em;
  position: relative;
  top: -7px;
}

input {
  border-style: hidden;
  vertical-align: middle;
  height: 100%;
  max-height: 8vh;
  background-color: rgb(232, 235, 232);
}

#spinner {
  display: none;
}

.frame_css {
  height : 25em;
  max-width: 37.5em;
  width: 50em;
}

.map_css {
  height : 100%;
  width : 100%;
  margin : auto;  
  position: relative;
}

/* -------- FOOTER -------- */
footer div {
  max-width: 100%;
}

footer {
  margin-top: 3.125em;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(112, 90, 57);
  color: white;
  padding: 0.625em;
  position: absolute;
}

/* Delphine Miel */
#createby {
  margin-left: 0.188em;
  font-weight: bold;
  font-size: 1.250em;
}

/* 'Retrouve moi....' */
#follow_the_link1 {
  margin-left: 0.188em;
  font-weight: bold;
  color: black;
  font-size: 0.938em;
}

@media screen and (max-height: 642px){
    h1, h2{
      font-size: 1.5em;
    }
    #createby{
      font-size: 0.9em;
    }
    footer{
      padding: 0.1em;
    }
    #git{
      height: 15px;
      width: 22,5px;
    }
    #link{
      height: 15px;
      width: 50;
    }
  } 