<!DOCTYPE html>

<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="../static/style.css" media="all">

    <title>GrandPy</title>
</head>

<body>
    <header class="d-flex text-center">
        <div class="container p-5">
            <h1> GrandPy Bot</h1>
            <h2>Dis moi papy!?</h2>
        </div>
    </header>
    <div id="section" class="container p-30">
        <div class="chat media border p-3">
            <img src="img/pap.png" alt="Papy" class="mr-3 mt-3 rounded-circle" style="width: 40px;">
        <div class="media-body p-4">
            <p>Salut mon petiot.</p>
            <div class="media p-4">
                <img src="img/quest.png" alt="User" class="mr-3 mt-3 rounded-circle" style="width: 45px;">
            </div>
        </div>
        <div id="spin" class="spinner-border"></div>
        </div>

        <div  class="d-flex">
            <form id="user_text_form" class="form-group">
                <p>
                    <label for="userText"></label>
                    <input name="userText" id="userText" class="form-control"
                        type="text" placeholder="Je t'écoute, quel endroit désires-tu connaître?">
                    <button type="submit" class="btn btn-secondary">Valider</button>
                </p>
            </form>
        </div>
    </div>
    <div class="footer">
        <div class="row">
            <div id="createby" class="p-1">Delphine Miel</div>
        </div>
        <div class="row">
            <div id="follow_the_link" class="p-2">Retrouve-moi en cliquant sur mes liens</div>
            <div id="click_link" class="p-2">
                <a class="p-2" href="https://github.com/MyBhive/papy">
                    <img src="../img/github_PNG83.png" height="40" width="45">
                </a>
                <a href="https://www.linkedin.com/in/delphine-miel-8438771b5/">
                    <img src="../img/band.png" height="40" width="100">
                </a>
            </div>
        </div>
    </div>
</body>
<script type="text/javascript" src="../static/script.js"></script>
</html>
