<!DOCTYPE html>

<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="../static/style.css" media="all"/>

    <title>GrandPy</title>
</head>

<body>
    <header class="d-flex text-center">
        <div class="container p-5">
            <h1> GrandPy Bot</h1>
            <h2>Dis moi papy!?</h2>
        </div>
    </header>

    <section class="container p-30">
        <div class="chat">
            <div id="bot" class="media border p-3">
                <p><img src="../static/img/pap.png" alt="Papy" class="mr-3 mt-3 rounded-circle" style="width: 30px;">Salut mon petiot !</p>
            </div>
            <div class="media border p-3" id="map"><span id="spinner" class="spinner-border"></span></div>
            <div class="d-flex">
                <form  id="user_text_form" class="col-lg-10" method="post">
                    <label for="user_text_form"></label>
                    <input name="userText" class="col-lg-10" id="user_input"
                        type="text" placeholder="Je t'écoute, quel endroit désires-tu connaître?">
                    <button type="submit" id="button" class="btn btn-secondary" style="width:130px">Valider</button>
                </form>
            </div>
        </div>
    </section>
    <footer>
        <div class="row d-flex p-1">
            <div id="createby" class="p-1">Delphine Miel</div>
        </div>
        <div class="row d-flex p-1">
            <div id="follow_the_link1" class="p-1">Retrouve-moi en cliquant sur mes liens</div>
            <div id="click_link1" class="p-1">
                <a class="p-2" target="_blank" href="https://github.com/MyBhive/papy">
                    <img src="../static/img/github_PNG83.png" height="30" width="45">
                </a>
            </div>
            <div id="click_link2" class="p-2">
                <a target="_blank" href="https://www.linkedin.com/in/delphine-miel-8438771b5/">
                    <img src="../static/img/linkedin.png" height="30" width="100">
                </a>
            </div>
        </div>
    </footer>
</body>
<script type="text/javascript" src="../static/script.js"></script>
</html>
